<%= semantic_form_for(@story) do |form| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.inputs do %>
    <%= form.input :number %>
    <%= form.input :name %>
    <%= form.input :tag_list %>
    <%= form.input :status, :include_blank => false %>
  <% end %>
  <%= form.buttons %>
<% end %>
