= semantic_form_for(@card) do |form|
  - if @card.errors.any?
    #error_explanation
      %h2
        = pluralize(@card.errors.count, "error")
        prohibited this card from being saved:
      %ul
        - @card.errors.full_messages.each do |msg|
          %li= msg
  = form.inputs do
    = form.input :name, :as => :text
    = form.input :tag_list
    = form.input :deck, :include_blank => false
  = form.actions
