%table
  %tr
    %th Name
    %th Tags
    %th Deck
    %th
  - @cards.each do |card|
    %tr
      %td= card.name
      %td= card.tag_list
      %td= card.deck.name
      %td
        = link_to 'Show', card
        | #{link_to 'Edit', edit_card_path(card)} | #{link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete}
.actions
  = link_to 'New Card', new_card_path
