%table
  %tr
    %th Name
    %th Color
    %th
  - @decks.each do |deck|
    %tr
      %td= deck.name
      %td{:style => "background-color:#{deck.color}"}= deck.color
      %td
        = link_to 'Show', deck
        | #{link_to 'Edit', edit_deck_path(deck)} | #{link_to 'Destroy', deck, :confirm => 'Are you sure?', :method => :delete}
.actions
  = link_to 'New Deck', new_deck_path
