!!!
%html
  %head
    %title= (@board ? @board.name : 'CardBoard')
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'lib'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :head
  %body
    %nav{:role => "banner"}
      %h1.title
        =image_tag 'tomboy.png'
        = @board ? @board.name : 'CardBoard'
      %span#notify
      %ul.actions
        / Add management (place for cusomization, import/export, etc.)
    %section.container
      = yield
