!!!
%html
  %head
    %title CardBoard
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&v2", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :head
  %body
    %nav{:role => "banner"}
      %h1.title
        / FIXME: Make this user-customizable later
        CardBoard
      .actions
        / Add management (place for cusomization, import/export, etc.)
    .container
      = yield
