<!DOCTYPE html>
<html>
<head>
  <title>Simple Kanban</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.dragsort' %>
  <%= csrf_meta_tags %>
<%= yield :head %>
</head>
<body>
	<div class='container'>
        <header>
	<h1>Kanban Board</h1>
	<nav>
		<%= link_to 'Wall', root_path %> | 
		<%= link_to 'Stories', stories_path %> |
		<%= link_to 'Statuses', statuses_path %>
	</nav>
	<p></p>
        </header>
		<section>
			<%= yield %>
		</section>
	</div>
</body>
</html>
